<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
          Passez votre souris sur moi pendant quelques secondes
          pour voir mon titre lié dynamiquement !
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">Maintenant vous me voyez</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Message retourné</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>


    <div id="app-7">
        <ol>
            <!--
            Maintenant nous fournissons à chaque todo-item l'objet todo
            qu'il représente de manière à ce que son contenu puisse être dynamique.
            Nous avons également besoin de fournir à chaque composant une "clé",
            mais nous expliquerons cela plus tard.
        -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue !'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'Vous avez affiché cette page le ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    text: 'Apprendre JavaScript'
                }, {
                    text: 'Apprendre Vue'
                }, {
                    text: 'Créer quelque chose de génial'
                }]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js !'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue !'
            }
        })

        // Définit un nouveau composant appelé todo-item
        Vue.component('todo-item', {
            // Le composant todo-item accepte maintenant une
            // "prop" qui est comme un attribut personnalisé.
            // Cette prop est appelée todo.
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [{
                    id: 0,
                    text: 'Légumes'
                }, {
                    id: 1,
                    text: 'Fromage'
                }, {
                    id: 2,
                    text: 'Tout ce que les humains sont supposés manger'
                }]
            }
        })
    </script>

</body>

</html>